<!DOCTYPE html>
<htmL>
<head>
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>{{ app_name }} - Live!</h1> 
    <p>Server: {{ ansible_hostname }}</p>
    <p>IP: {{ ansible_default_ipv4.address }}</p>
    <p>Deployed by ansible + Github actions!</p>
</body>
</html>
